@import '../../style/main';

.nexi-button {
  align-items: center;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  font-family: $font-family-semibold;
  font-size: 16px;
  height: 40px;
  justify-content: center;
  letter-spacing: 2px;
  line-height: 17px;
  margin: 0;
  min-width: 180px;
  padding: 12px 20px;
  text-transform: uppercase;
}

// Primary
.nexi-button--primary {
  background-color: $brand-color;
  color: $brand-white;

  &.disabled {
    background-color: $brand-color;
    color: $brand-white;
    pointer-events: none;
    opacity: 0.2;
  }

  &:hover {
    background-color: $brand-secondary-color;
    color: $brand-white;
  }

  &:active {
    background-color: $brand-blue-active;
    color: $brand-white;
  }

  &.dark-theme {
    background-color: $brand-white;
    color: $brand-color;

    &:hover {
      background-color: $brand-secondary-color;
      color: $brand-white;
    }

    &:active {
      background-color: $brand-blue-active;
      color: $brand-white;
    }
  }
}

// Secondary
.nexi-button--secondary {
  background-color: $brand-white;
  border: 1px solid $brand-color;
  color: $brand-color;

  &:hover {
    background-color: $brand-white;
    border: 1px solid $brand-secondary-color;
    color: $brand-secondary-color;
  }

  &:active {
    background-color: $brand-white;
    border: 1px solid $brand-blue-active;
    color: $brand-blue-active;
  }

  &.disabled {
    background-color: $brand-white;
    border: 1px solid $brand-color;
    color: $brand-color;
    opacity: 0.2;
  }

  &.dark-theme {
    background-color: transparent;
    border: 1px solid $brand-white;
    color: $brand-white;

    &:hover {
      background-color: transparent;
      border: 1px solid $brand-secondary-color;
      color: $brand-secondary-color;
    }

    &:active {
      background-color: transparent;
      border: 1px solid $brand-blue-active;
      color: $brand-blue-active;
    }
  }
}
