//Primary color
$brand-color: #2D32AA;
$brand-secondary-blue: #00B8DE;
$brand-blue-active: #00A5C8;
$caret-color: #06BAD8;
$brand-red: #FE5A7A;
$brand-green: #48d597;
$brand-black: #000000;
$brand-white: #ffffff;