@import '../style/main';

@font-face {
  font-family: 'nexi-icons';
  src: url('../fonts/NexiIcons/nexi-icons.ttf') format('truetype'),
    url('../fonts/NexiIcons/nexi-icons.woff') format('woff'),
    url('../fonts/NexiIcons/nexi-icons.svg') format('svg');
  font-style: normal;
  font-weight: normal;
  font-display: block;
}
