@import '_variables.scss';

.nexi-input--container {
  position: relative;
  box-sizing: border-box;
  height: 86px;
  font-family: $font-family-regular;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1 0 auto;

  &.onlyRead {
    justify-content: flex-start;
  }
}

.nexi-input {
  box-sizing: border-box;
  height: 100%;
  max-height: 50px;
  width: 100%;
  max-width: 300px;
  border-radius: 2px;
  background-color: $brand-white;
  box-shadow: 0 4px 16px 0 rgba(0,0,0,0.1);
  border: 0;
  padding: 15px;
  font-family: $font-family-regular;
  caret-color: $brand-blue-active;
  color: $brand-black;
  letter-spacing: 0;
  font-size: 18px;
  line-height: 19px;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;

  &.error {
    border: 2px solid $brand-red;
    color: $brand-red;
  }

  &.disabled {
    pointer-events: none;
    color: $brand-black20;
  }

  &.onlyRead {
    box-shadow: none;
    padding: 0;
    pointer-events: none;
    height: auto;

    &.dark-theme {
      background-color: transparent;
      color: $brand-white;
    }
  }

  &:focus {
    outline: none;
  }
}

.nexi-label {
  font-family: $font-family-regular;
  position: absolute;
  z-index: 1;
  margin: 0;
  font-size: 18px;
  letter-spacing: 0;
  line-height: 19px;
  color: rgba(0,0,0,0.6);
  transition: 0.3s ease all;
  -webkit-transition: 0.3s ease all;
  transform: translateY(0px) translateX(15px);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  pointer-events: none;

  &.focus {
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15px;
    pointer-events: none;
    transform: translateY(-35px) translateX(0px);
    color: $brand-black;
    width: 100%;
    margin: 0 0 5px;
  }

  &.dark-theme {
    &.focus {
      color: $brand-white;
    }
  }

  &.onlyRead {
    position: relative;
    transform: translateY(0px) translateX(0);
    margin: 0 0 17px;
    opacity: 1;
    font-size: 14px;
    letter-spacing: 0;
    line-height: 15px;
    pointer-events: none;
    color: $brand-black;
    width: 100%;

    &.dark-theme {
      color: $brand-white;
    }
  }

  &.disabled {
    opacity: 0.2;
  }
}

.nexi-errorLabel {
  font-family: $font-family-semibold;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 15px;
  margin: 5px 0 0;
  position: absolute;
  bottom: 0;

  &.dark-theme {
    color: $brand-white;
  }
}