//Primary color
$brand-color: #2D32AA;
$brand-secondary-blue: #00B8DE;
$brand-blue-active: #00A5C8;
$caret-color: #06BAD8;
$brand-red: #FE5A7A;
$brand-green: #48d597;
$brand-white: #ffffff;

//Black Grey
$brand-black: #000000;
$brand-black90: rgba(0,0,0,0.9);
$brand-black80: rgba(0,0,0,0.8);
$brand-black70: rgba(0,0,0,0.7);
$brand-black60: rgba(0,0,0,0.6);
$brand-black50: rgba(0,0,0,0.5);
$brand-black40: rgba(0,0,0,0.4);
$brand-black30: rgba(0,0,0,0.3);
$brand-black20: rgba(0,0,0,0.2);
$brand-black10: rgba(0,0,0,0.1);

// Font Family
$font-family-light: 'Karbon-Light', sans-serif;
$font-family-regular: 'Karbon-Regular', sans-serif;
$font-family-medium: 'Karbon-Medium', sans-serif;
$font-family-semibold: 'Karbon-semibold', sans-serif;
$font-family-bold: 'Karbon-Bold', sans-serif;