// Variabless
// Primary colors
$brand-color: #2d32aa;
$brand-secondary-color: #00b8de;
$brand-blue-active: #00a5c8;
$caret-color: #06bad8;
$brand-red: #fe5a7a;
$brand-green: #48d597;

// White - Black - Grey Scale
$brand-white: #fff;
$brand-black: #000;
$brand-black90: rgba($brand-black, .9);
$brand-black80: rgba($brand-black, .8);
$brand-black70: rgba($brand-black, .7);
$brand-black60: rgba($brand-black, .6);
$brand-black50: rgba($brand-black, .5);
$brand-black40: rgba($brand-black, .4);
$brand-black30: rgba($brand-black, .3);
$brand-black20: rgba($brand-black, .2);
$brand-black10: rgba($brand-black, .1);

// Font Family
$font-family-light: 'Karbon-Light', sans-serif;
$font-family-regular: 'Karbon-Regular', sans-serif;
$font-family-medium: 'Karbon-Medium', sans-serif;
$font-family-semibold: 'Karbon-semibold', sans-serif;
$font-family-bold: 'Karbon-Bold', sans-serif;
